.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-container h1 {
    font-size: 60px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.header-container hr {
    width: 50%;
}